@media (max-width: 750px) {
    .citation-conteiner {
        max-width: 95%; 
        max-height: 250px;
    }
}

@media (max-width: 600px) {
    header {
        position: relative;
    }

    header nav {
        display: none;
        position: absolute;
        top: 70px;
        background-color: var(--header-color);
        width: 100%;
    }
    nav ul {
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
        font-size: 35px;
        color: var(--color-white);
    }
    .citation-conteiner {
        max-width: 75%;
    }
}
